.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #f4f5f8;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
  
  .product-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.product-header {
  margin-bottom: 16px;
  
  h2 {
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  
  ion-icon {
    font-size: 64px;
    color: var(--ion-color-danger);
    margin-bottom: 16px;
  }
}